@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

:root{
    --light-blue: #00A4BD;
    --black: #3D3D3D;
    --white: #F5F5F5;
    --box-shadow: #263544;
    --background: #33475B;
}

#quote-box {
    font-family:'Questrial', sans-serif;
    font-size: 18px;
    max-width: 400px;
    margin-top: 120px;
}

#quote-text {
    min-height: 100px;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 20px 20px var(--box-shadow);
    margin-bottom: 30px;
    padding-top: 20px;
}
#comillas {
    filter: invert(49%) sepia(98%) saturate(1684%) hue-rotate(151deg) brightness(88%) contrast(101%);
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#text {
    color: var(--black);
    font-size: 22px;
    padding: 20px 20px 20px 30px;
    display: block;
    /*animation-duration: 3s;
    animation-name: slidein;*/
}

/*@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%
    }
    
    to {
        margin-left: 0%;
        width: 100%;
    }
}*/


#author {
    color: var(--light-blue);
    padding-left: 30px;
    padding-bottom: 20px;
    display: block;
}

#button-row {
    max-width: 400px;
}

#new-quote {
    background-color: var(--white);
    color: var(--background);
    border: none;
    border-radius: 5px;
    padding: 10px 36px;
    box-shadow: 20px 5px var(--box-shadow);
    /*width: 120px;*/
    margin-bottom: 50px;
}
#new-quote:hover {
    background-color: #a8a8a8;
}

#tweet-quote {
    /*display: block;*/
    height: 48px;
    border-radius: 5px;
    box-shadow: 5px 5px var(--box-shadow);
}

#tumblr-quote {
    /*display: block;*/
    height: 48px;
    border-radius: 5px;
    box-shadow: 5px 5px var(--box-shadow);

}

.messageout-enter {
    opacity: 0.01;
}
.messageout-enter.messageout-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.messageout-leave {
    opacity: 1;
}
  
.messageout-leave.messageout-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}


@media (min-width: 768px) {
    #quote-box {
        max-width: 600px;
    }
    #button-row {
        max-width: 600px;
    }
}
@media (min-width: 1024px) {
    #quote-box {
        max-width: 900px;
    }
    #button-row {
        max-width: 900px;
    }
}